---
import Layout from '../layouts/Layout.astro';

const pageTitle = "关于";
---

<Layout pageTitle={pageTitle}>
  <h2>LingLog 是什么？</h2>
  <p>LingLog 这个名字，我们拆开来看，Ling是致敬的《灵笼》这部动漫，因为我喜欢看它，Log是日志的意思，所以 LingLog 就是记录我学习和成长的地方。</p>
</Layout>